@charset "UTF-8";

@font-face {
    font-family: Mengao;
    src: url(Rajdhani-Regular.ttf)
  }
  @font-face {
    font-family: MengaoGordin;
    src: url(Rajdhani-SemiBold.ttf)
  }

  @font-face {
    font-family: MengaoGordasso;
    src: url(Rajdhani-Bold.ttf)
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    position: relative;
    display: grid;
    height: 1vh;
    grid-template-columns: auto 500px auto;
    grid-template-rows: 200px auto 30px;
    justify-items: center;
}

header {
    width: 1903px;
    height: 200px;
    background-image: linear-gradient(to right, #000000, #1e060b, #31090f, #44060c, #570303);
    display: grid;
    align-content: end;
    grid-column: 1/4;
    grid-row: 1/2;
}
.h1header {
color: white;
padding: 5px;
font: 25px MengaoGordasso, sans-serif;
text-align: center;
}

h1 {
    font: 25px MengaoGordasso, sans-serif;
}

h2 {
    color: #D2232A;
    font: 18.6px MengaoGordin, sans-serif;
}

p, li{
    font: 15.6px Mengao, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
}
.opcoes{
    color: white;
    font: 18.6px MengaoGordin, sans-serif;
    height: 50px;
    width: 120px;
    border-style: inset;
    border-width: 1px;
    border-radius: 4%;
    text-align: center;
    text-decoration: none;
    box-shadow: 5px 10px #4d1e1e;
}
.opcoes:hover {
    width: 140px;
    border-style: outset;
    text-decoration: underline;
    transition: 0.5s;
    font-family:MengaoGordasso, sans-serif ;
}

.opcoes:active {
    background-color:  #570303;
}

.logoHeader {
    width: 200px;
    height: 100px;
}

section {
    width: 1903px;
    height: 800px;
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    justify-content: space-evenly;
    align-content: space-around;
    grid-column: 2/3;
    grid-row: 2/3;
}


article {
    width: 1110px;
    background-color: rgb(116, 111, 111);
}



footer {
    background-image: linear-gradient(to right, #000000, #1e060b, #31090f, #44060c, #570303);
    grid-column: 1/4;
    grid-row: 3/4;
    width: 100%;
    color: white;
    font: 20px Mengao, sans-serif;
    text-align: center;
}




